.cell{

  color:red;
    width: 150px;
    height: 150px;
    border: 4px solid black;
    box-shadow: 0 0 0 2px;
    line-height: 150px;
    font-size: 100px;
    cursor: pointer;

}
#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin-left: 720px;

}

 
body {
  background-image:url('img/yes.jpg');
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: 100% 100%;
}
.h1{
  color:blue;

}
.h2{
  margin-top: 220px;

}
.Btn{
  background-color:yellow;
}
